.cursor {
  --cursor-x: 0px;
  --cursor-y: 0px;

  position: fixed;
  top: var(--cursor-y, 0px);
  left: var(--cursor-x, 0px);
  width: var(--cursor-width, 3em);
  height: var(--cursor-height, 3em);
  border: 2px solid var(--cursor-border-color, var(--color-text-semivisible));
  border-radius: var(--cursor-border-radius, 50%);
  background: var(--cursor-bg-color, transparent);
  rotate: var(--cursor-rotate, 0deg);
  pointer-events: none;
  user-select: none;
  z-index: var(--z-cursor);
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  mix-blend-mode: difference;
  transform-origin: center center;
  will-change: width, height, border-radius, background-color, border-color, rotate;
  transition:
    width var(--transition-cursor) var(--easing-cursor),
    height var(--transition-cursor) var(--easing-cursor),
    border-radius var(--transition-cursor) var(--easing-cursor),
    background-color var(--transition-cursor) var(--easing-cursor),
    border-color var(--transition-cursor) var(--easing-cursor),
    rotate var(--transition-cursor) var(--easing-cursor);

  &[data-cursor-type='image'],
  &[data-cursor-type='video'] {
    mix-blend-mode: normal;
    border-color: transparent;
  }
}

.cursor__arrow {
  width: 32%;
  height: 32%;
  color: black;
}

.cursor__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}
