@use '~/shared/assets/styles/mixins' as *;

.features {
  position: relative;
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--header-height) + var(--spacing-footer-below-header)) var(--padding-main)
    var(--padding-section-bottom-xl);
}

.features__inner {
  width: var(--width-content);
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-heading);
}

.features__grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-grid-min-feature-card), 1fr));
  gap: var(--gap-section-card-grid);
}

.features__cta {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.features__ctaTitle {
  color: var(--color-text-secondary);
  font-size: var(--font-size-h3);
  letter-spacing: var(--letter-spacing-title);
}
