@import '~/shared/assets/styles/mixins';

.search__bar {
  @include buttonReset;
  @include bluredBg;

  position: relative;
  border-radius: var(--border-radius-input);
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border: 1px solid var(--color-text-semivisible);
  min-width: 17.5em;

  .bar__icon {
    padding: 0.75rem .5rem .75rem 1.25rem;
    flex-shrink: 0;
    font-size: var(--font-size-h4);
    display: grid;
    place-items: center;
    color: var(--color-text-secondary);
  }

  .bar__input {
    @include bluredBg;

    font-size: var(--font-size-default);
    border: none;
    padding: 0.75rem 1.25rem 0.75rem 0;
    backdrop-filter: none;
    border-radius: 0;
    width: 100%;
    background: none;
    color: var(--color-text-secondary);
    text-align: left;
    letter-spacing: var(--letter-spacing-button);

    &[data-active='true'] {
      color: var(--color-text);
    }
  }

  .bar__badge {
    position: absolute;
    right:  1.25rem;

    @media (width < 770px) {
      // display: none;
    }
  }
}
