@use '~/shared/assets/styles/mixins' as *;
@use '~/shared/assets/styles/breakpoints' as bp;

.navMenu {
  position: fixed;
  bottom: 4em;
  left: 4em;
  z-index: 1500;

  &__list {
    display: flex;
    flex-direction: column;
  }
}

@include bp.max-width(bp.$bp-nav) {
  .navMenu {
    display: none;
  }
}
