@use '~/shared/assets/styles/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 480px;
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
