@use '~/shared/assets/styles/mixins' as *;

.row {
  padding: 1rem 1.1rem;
  border-radius: var(--platform-card-radius-sm);
  border: var(--border-width-hair) solid var(--platform-color-border);
  @include bluredBg;
}
