--
-- PostgreSQL database dump
--

\restrict 7fVWu1bAwexjCx1WzqPgJa70kDleQAynEnXnUff5cjX5R9HVUhlXZfGIi7ZzkmJ

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AchievementStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AchievementStatus" AS ENUM (
    'ACTIVE',
    'SUCCESS'
);


--
-- Name: AiCodeImproveJobStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AiCodeImproveJobStatus" AS ENUM (
    'QUEUED',
    'STREAMING',
    'DONE',
    'FAILED'
);


--
-- Name: AttemptStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AttemptStatus" AS ENUM (
    'PENDING',
    'ACTIVE',
    'SUCCESS'
);


--
-- Name: ContactMessageSource; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ContactMessageSource" AS ENUM (
    'HOME',
    'PLATFORM'
);


--
-- Name: ContentPagePlacement; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ContentPagePlacement" AS ENUM (
    'FOOTER',
    'HEADER',
    'HIDDEN'
);


--
-- Name: CourseStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CourseStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'HIDDEN'
);


--
-- Name: EnrollmentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."EnrollmentStatus" AS ENUM (
    'ACTIVE',
    'FINISHED',
    'ABANDONED'
);


--
-- Name: ExecutionContext; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ExecutionContext" AS ENUM (
    'COURSE',
    'SANDBOX',
    'DAILY',
    'WEEKLY'
);


--
-- Name: ExecutionMode; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ExecutionMode" AS ENUM (
    'RUN',
    'SUBMIT'
);


--
-- Name: ExecutionStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ExecutionStatus" AS ENUM (
    'QUEUED',
    'RUNNING',
    'SUCCESS',
    'FAILED',
    'TIMEOUT',
    'CANCELLED'
);


--
-- Name: IdempotencyStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."IdempotencyStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED',
    'FAILED'
);


--
-- Name: LivechatAuthorKind; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."LivechatAuthorKind" AS ENUM (
    'AUTH',
    'GUEST'
);


--
-- Name: OutboxStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."OutboxStatus" AS ENUM (
    'PENDING',
    'PUBLISHED',
    'FAILED'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'LEARNER',
    'AUTHOR',
    'MODERATOR',
    'ADMIN'
);


--
-- Name: TaskKind; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TaskKind" AS ENUM (
    'THEORY',
    'TASK',
    'QUIZ'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Achievement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Achievement" (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    goal integer,
    "coverImage" text,
    "awardId" text,
    category text NOT NULL,
    rarity text DEFAULT 'common'::text NOT NULL,
    hidden boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "imageUrl" text
);


--
-- Name: AiCodeImproveJob; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AiCodeImproveJob" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "taskId" text NOT NULL,
    "courseId" text NOT NULL,
    "idempotencyFingerprint" text NOT NULL,
    status public."AiCodeImproveJobStatus" DEFAULT 'QUEUED'::public."AiCodeImproveJobStatus" NOT NULL,
    "errorCode" text,
    "improvedCode" text DEFAULT ''::text NOT NULL,
    "explanationMarkdown" text DEFAULT ''::text NOT NULL,
    "openaiModelUsed" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "finishedAt" timestamp(3) without time zone,
    language text DEFAULT 'python'::text NOT NULL
);


--
-- Name: AppSetting; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AppSetting" (
    key text NOT NULL,
    value jsonb DEFAULT '{}'::jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "actorId" text,
    action text NOT NULL,
    "targetType" text NOT NULL,
    "targetId" text NOT NULL,
    diff jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Comment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    "authorId" text NOT NULL,
    "threadId" text NOT NULL,
    message text NOT NULL,
    "likesN" integer DEFAULT 0 NOT NULL,
    "dislikesN" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ContactMessage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ContactMessage" (
    id text NOT NULL,
    source public."ContactMessageSource" NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    message text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ContentPage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ContentPage" (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    excerpt text DEFAULT ''::text NOT NULL,
    placement public."ContentPagePlacement" DEFAULT 'FOOTER'::public."ContentPagePlacement" NOT NULL,
    "groupKey" text DEFAULT 'about'::text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    published boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Course; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    summary text NOT NULL,
    "shortSummary" text DEFAULT ''::text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    language text NOT NULL,
    difficulty text NOT NULL,
    "durationHours" integer DEFAULT 0 NOT NULL,
    "xpReward" integer DEFAULT 0 NOT NULL,
    "coverImage" text,
    status public."CourseStatus" DEFAULT 'DRAFT'::public."CourseStatus" NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[],
    "authorId" text NOT NULL,
    "categoryId" text,
    "publishedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "tierRequired" integer DEFAULT 0 NOT NULL
);


--
-- Name: CourseCategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CourseCategory" (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    summary text DEFAULT ''::text NOT NULL,
    "parentCategoryId" text,
    "authorId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "iconKey" text,
    "order" integer DEFAULT 0 NOT NULL,
    "imageUrl" text
);


--
-- Name: CourseModule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CourseModule" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    title text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    "order" integer NOT NULL
);


--
-- Name: CourseTask; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CourseTask" (
    id text NOT NULL,
    "moduleId" text,
    title text NOT NULL,
    summary text DEFAULT ''::text NOT NULL,
    description text NOT NULL,
    result jsonb,
    "initialData" jsonb DEFAULT '{}'::jsonb NOT NULL,
    "order" integer NOT NULL,
    kind public."TaskKind" DEFAULT 'TASK'::public."TaskKind" NOT NULL,
    "estimatedMinutes" integer DEFAULT 15 NOT NULL,
    "allowedLanguages" text[] DEFAULT ARRAY[]::text[],
    "dailyChallengeId" text,
    "weeklyChallengeId" text,
    "isPremium" boolean DEFAULT false NOT NULL,
    "minPlanTier" integer DEFAULT 1 NOT NULL
);


--
-- Name: CourseTaskAttempt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CourseTaskAttempt" (
    id text NOT NULL,
    "courseTaskId" text NOT NULL,
    "userId" text NOT NULL,
    "currentData" jsonb DEFAULT '{}'::jsonb NOT NULL,
    status public."AttemptStatus" DEFAULT 'PENDING'::public."AttemptStatus" NOT NULL,
    "tryN" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CourseTaskAutotest; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CourseTaskAutotest" (
    id text NOT NULL,
    "courseTaskId" text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    name text DEFAULT '╨ó╨╡╤ü╤é'::text NOT NULL,
    input text,
    expected text NOT NULL,
    hidden boolean DEFAULT false NOT NULL
);


--
-- Name: DailyChallenge; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."DailyChallenge" (
    id text NOT NULL,
    date text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: DailyChallengeAttempt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."DailyChallengeAttempt" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date text NOT NULL,
    "taskIndex" integer NOT NULL,
    status public."AttemptStatus" DEFAULT 'ACTIVE'::public."AttemptStatus" NOT NULL,
    "executionId" text,
    "solvedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Enrollment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Enrollment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    status public."EnrollmentStatus" DEFAULT 'ACTIVE'::public."EnrollmentStatus" NOT NULL,
    "progressPercent" integer DEFAULT 0 NOT NULL,
    "completedLessonIds" text[] DEFAULT ARRAY[]::text[],
    "currentLessonId" text,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "finishedAt" timestamp(3) without time zone
);


--
-- Name: Execution; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Execution" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "taskId" text,
    language text NOT NULL,
    code text NOT NULL,
    status public."ExecutionStatus" DEFAULT 'QUEUED'::public."ExecutionStatus" NOT NULL,
    stdout text,
    stderr text,
    "runtimeMs" integer,
    "testResults" jsonb,
    passed boolean,
    "errorMessage" text,
    "enqueuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "startedAt" timestamp(3) without time zone,
    "finishedAt" timestamp(3) without time zone,
    "contextKind" public."ExecutionContext" DEFAULT 'COURSE'::public."ExecutionContext" NOT NULL,
    "contextRef" text,
    mode public."ExecutionMode" DEFAULT 'RUN'::public."ExecutionMode" NOT NULL
);


--
-- Name: IdempotencyKey; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."IdempotencyKey" (
    key text NOT NULL,
    "userId" text,
    endpoint text NOT NULL,
    response jsonb,
    status public."IdempotencyStatus" DEFAULT 'IN_PROGRESS'::public."IdempotencyStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: LivechatGuestConsent; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."LivechatGuestConsent" (
    "guestSessionId" character varying(48) NOT NULL,
    "acceptedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: LivechatMessage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."LivechatMessage" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    body character varying(800) NOT NULL,
    "authorKind" public."LivechatAuthorKind" NOT NULL,
    "userId" text,
    "guestSessionId" text,
    "authorLabel" character varying(120) NOT NULL,
    "usernameColor" character varying(32) NOT NULL
);


--
-- Name: OutboxEvent; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OutboxEvent" (
    id text NOT NULL,
    topic text NOT NULL,
    payload jsonb NOT NULL,
    status public."OutboxStatus" DEFAULT 'PENDING'::public."OutboxStatus" NOT NULL,
    retries integer DEFAULT 0 NOT NULL,
    "lastError" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "publishedAt" timestamp(3) without time zone
);


--
-- Name: Plan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Plan" (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    "shortDescription" text DEFAULT ''::text NOT NULL,
    "tierLevel" integer NOT NULL,
    "xpBonusPercent" integer DEFAULT 0 NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isDefaultFree" boolean DEFAULT false NOT NULL,
    "maxActiveCourses" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "marketingMarkdown" text DEFAULT ''::text NOT NULL,
    "marketingFeatures" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "isBestseller" boolean DEFAULT false NOT NULL
);


--
-- Name: SandboxSnippet; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SandboxSnippet" (
    id text NOT NULL,
    "userId" text NOT NULL,
    language text NOT NULL,
    code text NOT NULL,
    title text DEFAULT '╨æ╨╡╨╖ ╨╜╨░╨╖╨▓╨░╨╜╨╕╤Å'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Thread; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Thread" (
    id text NOT NULL,
    "totalCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "workosUserId" text NOT NULL,
    email text NOT NULL,
    username text NOT NULL,
    "displayName" text NOT NULL,
    "firstName" text,
    "lastName" text,
    bio text DEFAULT ''::text NOT NULL,
    "avatarUrl" text,
    role public."Role" DEFAULT 'LEARNER'::public."Role" NOT NULL,
    socials jsonb DEFAULT '{}'::jsonb NOT NULL,
    appearance jsonb DEFAULT '{"colorScheme": "dark"}'::jsonb NOT NULL,
    "commentsThreadId" text,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletionRequestedAt" timestamp(3) without time zone,
    "lastActiveDay" text,
    "streakDays" integer DEFAULT 0 NOT NULL,
    "totalXp" integer DEFAULT 0 NOT NULL,
    "banReason" text,
    "bannedUntil" timestamp(3) without time zone,
    "excludedFromLeaderboard" boolean DEFAULT false NOT NULL,
    "chatBannedUntil" timestamp(3) without time zone,
    "chatBanReason" text,
    "livechatConsentAt" timestamp(3) without time zone,
    "livechatUsernameColor" text,
    "planId" text,
    "personalDataProcessingConsentAt" timestamp(3) without time zone
);


--
-- Name: UserAchievementTrack; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserAchievementTrack" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "achievementId" text NOT NULL,
    status public."AchievementStatus" DEFAULT 'ACTIVE'::public."AchievementStatus" NOT NULL,
    "currentN" integer DEFAULT 0 NOT NULL,
    "earnedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: UserActivity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserActivity" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: UserActivitySnapshot; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserActivitySnapshot" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date text NOT NULL,
    count integer DEFAULT 0 NOT NULL,
    level integer DEFAULT 0 NOT NULL
);


--
-- Name: WeeklyChallenge; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WeeklyChallenge" (
    id text NOT NULL,
    "isoWeek" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: WeeklyChallengeAttempt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WeeklyChallengeAttempt" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "isoWeek" text NOT NULL,
    "taskIndex" integer NOT NULL,
    status public."AttemptStatus" DEFAULT 'ACTIVE'::public."AttemptStatus" NOT NULL,
    "executionId" text,
    "solvedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: Achievement Achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Achievement"
    ADD CONSTRAINT "Achievement_pkey" PRIMARY KEY (id);


--
-- Name: AiCodeImproveJob AiCodeImproveJob_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AiCodeImproveJob"
    ADD CONSTRAINT "AiCodeImproveJob_pkey" PRIMARY KEY (id);


--
-- Name: AppSetting AppSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AppSetting"
    ADD CONSTRAINT "AppSetting_pkey" PRIMARY KEY (key);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: ContactMessage ContactMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContactMessage"
    ADD CONSTRAINT "ContactMessage_pkey" PRIMARY KEY (id);


--
-- Name: ContentPage ContentPage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContentPage"
    ADD CONSTRAINT "ContentPage_pkey" PRIMARY KEY (id);


--
-- Name: CourseCategory CourseCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseCategory"
    ADD CONSTRAINT "CourseCategory_pkey" PRIMARY KEY (id);


--
-- Name: CourseModule CourseModule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseModule"
    ADD CONSTRAINT "CourseModule_pkey" PRIMARY KEY (id);


--
-- Name: CourseTaskAttempt CourseTaskAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTaskAttempt"
    ADD CONSTRAINT "CourseTaskAttempt_pkey" PRIMARY KEY (id);


--
-- Name: CourseTaskAutotest CourseTaskAutotest_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTaskAutotest"
    ADD CONSTRAINT "CourseTaskAutotest_pkey" PRIMARY KEY (id);


--
-- Name: CourseTask CourseTask_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTask"
    ADD CONSTRAINT "CourseTask_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: DailyChallengeAttempt DailyChallengeAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DailyChallengeAttempt"
    ADD CONSTRAINT "DailyChallengeAttempt_pkey" PRIMARY KEY (id);


--
-- Name: DailyChallenge DailyChallenge_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DailyChallenge"
    ADD CONSTRAINT "DailyChallenge_pkey" PRIMARY KEY (id);


--
-- Name: Enrollment Enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_pkey" PRIMARY KEY (id);


--
-- Name: Execution Execution_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Execution"
    ADD CONSTRAINT "Execution_pkey" PRIMARY KEY (id);


--
-- Name: IdempotencyKey IdempotencyKey_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."IdempotencyKey"
    ADD CONSTRAINT "IdempotencyKey_pkey" PRIMARY KEY (key);


--
-- Name: LivechatGuestConsent LivechatGuestConsent_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."LivechatGuestConsent"
    ADD CONSTRAINT "LivechatGuestConsent_pkey" PRIMARY KEY ("guestSessionId");


--
-- Name: LivechatMessage LivechatMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."LivechatMessage"
    ADD CONSTRAINT "LivechatMessage_pkey" PRIMARY KEY (id);


--
-- Name: OutboxEvent OutboxEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OutboxEvent"
    ADD CONSTRAINT "OutboxEvent_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: SandboxSnippet SandboxSnippet_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SandboxSnippet"
    ADD CONSTRAINT "SandboxSnippet_pkey" PRIMARY KEY (id);


--
-- Name: Thread Thread_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Thread"
    ADD CONSTRAINT "Thread_pkey" PRIMARY KEY (id);


--
-- Name: UserAchievementTrack UserAchievementTrack_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserAchievementTrack"
    ADD CONSTRAINT "UserAchievementTrack_pkey" PRIMARY KEY (id);


--
-- Name: UserActivitySnapshot UserActivitySnapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserActivitySnapshot"
    ADD CONSTRAINT "UserActivitySnapshot_pkey" PRIMARY KEY (id);


--
-- Name: UserActivity UserActivity_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserActivity"
    ADD CONSTRAINT "UserActivity_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WeeklyChallengeAttempt WeeklyChallengeAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeeklyChallengeAttempt"
    ADD CONSTRAINT "WeeklyChallengeAttempt_pkey" PRIMARY KEY (id);


--
-- Name: WeeklyChallenge WeeklyChallenge_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeeklyChallenge"
    ADD CONSTRAINT "WeeklyChallenge_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Achievement_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Achievement_slug_key" ON public."Achievement" USING btree (slug);


--
-- Name: AiCodeImproveJob_taskId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AiCodeImproveJob_taskId_idx" ON public."AiCodeImproveJob" USING btree ("taskId");


--
-- Name: AiCodeImproveJob_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AiCodeImproveJob_userId_createdAt_idx" ON public."AiCodeImproveJob" USING btree ("userId", "createdAt");


--
-- Name: AiCodeImproveJob_userId_idempotencyFingerprint_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "AiCodeImproveJob_userId_idempotencyFingerprint_key" ON public."AiCodeImproveJob" USING btree ("userId", "idempotencyFingerprint");


--
-- Name: AiCodeImproveJob_userId_taskId_language_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AiCodeImproveJob_userId_taskId_language_status_idx" ON public."AiCodeImproveJob" USING btree ("userId", "taskId", language, status);


--
-- Name: AuditLog_actorId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_actorId_createdAt_idx" ON public."AuditLog" USING btree ("actorId", "createdAt");


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_targetType_targetId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_targetType_targetId_idx" ON public."AuditLog" USING btree ("targetType", "targetId");


--
-- Name: Comment_threadId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Comment_threadId_createdAt_idx" ON public."Comment" USING btree ("threadId", "createdAt");


--
-- Name: ContactMessage_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ContactMessage_createdAt_idx" ON public."ContactMessage" USING btree ("createdAt");


--
-- Name: ContentPage_placement_published_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ContentPage_placement_published_order_idx" ON public."ContentPage" USING btree (placement, published, "order");


--
-- Name: ContentPage_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ContentPage_slug_key" ON public."ContentPage" USING btree (slug);


--
-- Name: CourseCategory_parentCategoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CourseCategory_parentCategoryId_idx" ON public."CourseCategory" USING btree ("parentCategoryId");


--
-- Name: CourseCategory_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseCategory_slug_key" ON public."CourseCategory" USING btree (slug);


--
-- Name: CourseModule_courseId_order_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseModule_courseId_order_key" ON public."CourseModule" USING btree ("courseId", "order");


--
-- Name: CourseTaskAttempt_courseTaskId_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseTaskAttempt_courseTaskId_userId_key" ON public."CourseTaskAttempt" USING btree ("courseTaskId", "userId");


--
-- Name: CourseTaskAttempt_userId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CourseTaskAttempt_userId_status_idx" ON public."CourseTaskAttempt" USING btree ("userId", status);


--
-- Name: CourseTaskAutotest_courseTaskId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CourseTaskAutotest_courseTaskId_idx" ON public."CourseTaskAutotest" USING btree ("courseTaskId");


--
-- Name: CourseTaskAutotest_courseTaskId_order_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseTaskAutotest_courseTaskId_order_key" ON public."CourseTaskAutotest" USING btree ("courseTaskId", "order");


--
-- Name: CourseTask_dailyChallengeId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CourseTask_dailyChallengeId_idx" ON public."CourseTask" USING btree ("dailyChallengeId");


--
-- Name: CourseTask_dailyChallengeId_order_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseTask_dailyChallengeId_order_key" ON public."CourseTask" USING btree ("dailyChallengeId", "order");


--
-- Name: CourseTask_moduleId_order_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseTask_moduleId_order_key" ON public."CourseTask" USING btree ("moduleId", "order");


--
-- Name: CourseTask_weeklyChallengeId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CourseTask_weeklyChallengeId_idx" ON public."CourseTask" USING btree ("weeklyChallengeId");


--
-- Name: CourseTask_weeklyChallengeId_order_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CourseTask_weeklyChallengeId_order_key" ON public."CourseTask" USING btree ("weeklyChallengeId", "order");


--
-- Name: Course_categoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Course_categoryId_idx" ON public."Course" USING btree ("categoryId");


--
-- Name: Course_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Course_slug_key" ON public."Course" USING btree (slug);


--
-- Name: Course_status_language_difficulty_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Course_status_language_difficulty_idx" ON public."Course" USING btree (status, language, difficulty);


--
-- Name: DailyChallengeAttempt_userId_date_taskIndex_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "DailyChallengeAttempt_userId_date_taskIndex_key" ON public."DailyChallengeAttempt" USING btree ("userId", date, "taskIndex");


--
-- Name: DailyChallengeAttempt_userId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "DailyChallengeAttempt_userId_status_idx" ON public."DailyChallengeAttempt" USING btree ("userId", status);


--
-- Name: DailyChallenge_date_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "DailyChallenge_date_key" ON public."DailyChallenge" USING btree (date);


--
-- Name: Enrollment_userId_courseId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Enrollment_userId_courseId_key" ON public."Enrollment" USING btree ("userId", "courseId");


--
-- Name: Enrollment_userId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Enrollment_userId_status_idx" ON public."Enrollment" USING btree ("userId", status);


--
-- Name: Execution_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Execution_status_idx" ON public."Execution" USING btree (status);


--
-- Name: Execution_taskId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Execution_taskId_idx" ON public."Execution" USING btree ("taskId");


--
-- Name: Execution_userId_enqueuedAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Execution_userId_enqueuedAt_idx" ON public."Execution" USING btree ("userId", "enqueuedAt");


--
-- Name: IdempotencyKey_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IdempotencyKey_expiresAt_idx" ON public."IdempotencyKey" USING btree ("expiresAt");


--
-- Name: LivechatMessage_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "LivechatMessage_createdAt_idx" ON public."LivechatMessage" USING btree ("createdAt" DESC);


--
-- Name: LivechatMessage_guestSessionId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "LivechatMessage_guestSessionId_idx" ON public."LivechatMessage" USING btree ("guestSessionId");


--
-- Name: OutboxEvent_status_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "OutboxEvent_status_createdAt_idx" ON public."OutboxEvent" USING btree (status, "createdAt");


--
-- Name: Plan_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Plan_slug_key" ON public."Plan" USING btree (slug);


--
-- Name: Plan_tierLevel_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Plan_tierLevel_key" ON public."Plan" USING btree ("tierLevel");


--
-- Name: SandboxSnippet_userId_updatedAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SandboxSnippet_userId_updatedAt_idx" ON public."SandboxSnippet" USING btree ("userId", "updatedAt");


--
-- Name: UserAchievementTrack_userId_achievementId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UserAchievementTrack_userId_achievementId_key" ON public."UserAchievementTrack" USING btree ("userId", "achievementId");


--
-- Name: UserActivitySnapshot_userId_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "UserActivitySnapshot_userId_date_idx" ON public."UserActivitySnapshot" USING btree ("userId", date);


--
-- Name: UserActivitySnapshot_userId_date_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UserActivitySnapshot_userId_date_key" ON public."UserActivitySnapshot" USING btree ("userId", date);


--
-- Name: UserActivity_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "UserActivity_userId_createdAt_idx" ON public."UserActivity" USING btree ("userId", "createdAt");


--
-- Name: User_commentsThreadId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_commentsThreadId_key" ON public."User" USING btree ("commentsThreadId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_planId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_planId_idx" ON public."User" USING btree ("planId");


--
-- Name: User_totalXp_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_totalXp_idx" ON public."User" USING btree ("totalXp");


--
-- Name: User_username_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_username_idx" ON public."User" USING btree (username);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: User_workosUserId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_workosUserId_key" ON public."User" USING btree ("workosUserId");


--
-- Name: WeeklyChallengeAttempt_userId_isoWeek_taskIndex_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "WeeklyChallengeAttempt_userId_isoWeek_taskIndex_key" ON public."WeeklyChallengeAttempt" USING btree ("userId", "isoWeek", "taskIndex");


--
-- Name: WeeklyChallengeAttempt_userId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "WeeklyChallengeAttempt_userId_status_idx" ON public."WeeklyChallengeAttempt" USING btree ("userId", status);


--
-- Name: WeeklyChallenge_isoWeek_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "WeeklyChallenge_isoWeek_key" ON public."WeeklyChallenge" USING btree ("isoWeek");


--
-- Name: AiCodeImproveJob AiCodeImproveJob_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AiCodeImproveJob"
    ADD CONSTRAINT "AiCodeImproveJob_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AiCodeImproveJob AiCodeImproveJob_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AiCodeImproveJob"
    ADD CONSTRAINT "AiCodeImproveJob_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."CourseTask"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AiCodeImproveJob AiCodeImproveJob_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AiCodeImproveJob"
    ADD CONSTRAINT "AiCodeImproveJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_threadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES public."Thread"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseCategory CourseCategory_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseCategory"
    ADD CONSTRAINT "CourseCategory_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CourseCategory CourseCategory_parentCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseCategory"
    ADD CONSTRAINT "CourseCategory_parentCategoryId_fkey" FOREIGN KEY ("parentCategoryId") REFERENCES public."CourseCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CourseModule CourseModule_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseModule"
    ADD CONSTRAINT "CourseModule_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTaskAttempt CourseTaskAttempt_courseTaskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTaskAttempt"
    ADD CONSTRAINT "CourseTaskAttempt_courseTaskId_fkey" FOREIGN KEY ("courseTaskId") REFERENCES public."CourseTask"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTaskAttempt CourseTaskAttempt_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTaskAttempt"
    ADD CONSTRAINT "CourseTaskAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTaskAutotest CourseTaskAutotest_courseTaskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTaskAutotest"
    ADD CONSTRAINT "CourseTaskAutotest_courseTaskId_fkey" FOREIGN KEY ("courseTaskId") REFERENCES public."CourseTask"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTask CourseTask_dailyChallengeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTask"
    ADD CONSTRAINT "CourseTask_dailyChallengeId_fkey" FOREIGN KEY ("dailyChallengeId") REFERENCES public."DailyChallenge"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTask CourseTask_moduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTask"
    ADD CONSTRAINT "CourseTask_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES public."CourseModule"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseTask CourseTask_weeklyChallengeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CourseTask"
    ADD CONSTRAINT "CourseTask_weeklyChallengeId_fkey" FOREIGN KEY ("weeklyChallengeId") REFERENCES public."WeeklyChallenge"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Course Course_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Course Course_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."CourseCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DailyChallengeAttempt DailyChallengeAttempt_date_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DailyChallengeAttempt"
    ADD CONSTRAINT "DailyChallengeAttempt_date_fkey" FOREIGN KEY (date) REFERENCES public."DailyChallenge"(date) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DailyChallengeAttempt DailyChallengeAttempt_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DailyChallengeAttempt"
    ADD CONSTRAINT "DailyChallengeAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Enrollment Enrollment_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Enrollment Enrollment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Execution Execution_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Execution"
    ADD CONSTRAINT "Execution_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LivechatMessage LivechatMessage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."LivechatMessage"
    ADD CONSTRAINT "LivechatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SandboxSnippet SandboxSnippet_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SandboxSnippet"
    ADD CONSTRAINT "SandboxSnippet_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAchievementTrack UserAchievementTrack_achievementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserAchievementTrack"
    ADD CONSTRAINT "UserAchievementTrack_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES public."Achievement"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAchievementTrack UserAchievementTrack_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserAchievementTrack"
    ADD CONSTRAINT "UserAchievementTrack_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserActivitySnapshot UserActivitySnapshot_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserActivitySnapshot"
    ADD CONSTRAINT "UserActivitySnapshot_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserActivity UserActivity_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserActivity"
    ADD CONSTRAINT "UserActivity_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_commentsThreadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_commentsThreadId_fkey" FOREIGN KEY ("commentsThreadId") REFERENCES public."Thread"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: WeeklyChallengeAttempt WeeklyChallengeAttempt_isoWeek_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeeklyChallengeAttempt"
    ADD CONSTRAINT "WeeklyChallengeAttempt_isoWeek_fkey" FOREIGN KEY ("isoWeek") REFERENCES public."WeeklyChallenge"("isoWeek") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WeeklyChallengeAttempt WeeklyChallengeAttempt_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeeklyChallengeAttempt"
    ADD CONSTRAINT "WeeklyChallengeAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7fVWu1bAwexjCx1WzqPgJa70kDleQAynEnXnUff5cjX5R9HVUhlXZfGIi7ZzkmJ

