# Nextjs
.next/
out/

# Dependencies
node_modules/

# Build
build/
dist/

# Logs
logs/
*.log

# Cache
.cache/
.eslintcache
.stylelintcache
.parcel-cache

# Envs
.env
.env.*
!.env.example

# Coverage
coverage/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc
.DS_Store
*.pem 