@use '~/shared/assets/styles/mixins' as *;

.key_badge {
  @include bluredBg;

  font-size: var(--font-size-h6);
  border-radius: var(--border-radius-button);
  border: var(--border-width-hair) solid var(--color-text-semivisible);
  padding: 0.25em;
  color: var(--color-text);

  &__key {
    white-space: nowrap;
    border: none;
    font-size: var(--font-size-default);
    border-radius: var(--border-radius-button);
    background: none;
  }
}
