@use '~/shared/assets/styles/mixins' as *;

.search_spotlight {
  position: relative;
  z-index: var(--z-search);

  &__overlay {
    @include bluredBg;

    position: fixed;
    padding-top: var(--padding-search-overlay-top);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: var(--blur-spotlight);
    background: transparent;
  }

  &__inner {
    width: 100%;
    padding-top: var(--padding-search-inner-top);
    padding-inline: 0;
    width: var(--width-content);
    left: 50%;
    transform: translateX(-50%);

    .inner__content {
      @include bluredBg;

      width: 100%;
      background: none;
    }
  }
}
