@use '~/shared/assets/styles/mixins.scss' as *;
@use '~/shared/assets/styles/breakpoints' as bp;

.button {
  @include buttonReset;
  @include bluredBg;
  // @include mainShadow;

  background: transparent;
  border: var(--border-width-hair) solid var(--color-text-semivisible);
  color: var(--color-text);
  padding: 1em 3em;
  font-size: var(--font-size-h5);
  border-radius: var(--border-radius-button);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-button);
}

@include bp.max-width(bp.$bp-nav) {
  .button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
