@use '~/shared/assets/styles/mixins' as *;
@use '~/shared/assets/styles/breakpoints' as bp;

.features {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--header-height) + var(--spacing-footer-below-header)) var(--padding-main)
    var(--padding-section-bottom-xl);
  pointer-events: none;
}

@include bp.max-width(bp.$bp-nav) {
  .features {
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--section-padding-top-mobile) var(--padding-main)
      var(--padding-section-bottom-mobile);
  }

  .features__cta,
  .features__ctaTitle,
  .features__ctaButton {
    display: none;
  }
}

.features__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-heading);
  pointer-events: auto;
  @include bp.min-width(bp.$bp-nav-up) {
    width: var(--width-content);
  }
}

.features__grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-grid-min-feature-card), 1fr));
  gap: var(--gap-section-card-grid);
}

.features__cta {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.features__ctaTitle {
  color: var(--color-text-secondary);
  font-size: var(--font-size-h3);
  letter-spacing: var(--letter-spacing-title);
}
