@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-THIN.TTF') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-REGULARITALIC.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText';
  src: url('../fonts/YANDEXSANSTEXT-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'YandexSansDisplay';
  src: url('../fonts/YANDEXSANSDISPLAY-THIN.TTF') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansDisplay';
  src: url('../fonts/YANDEXSANSDISPLAY-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansDisplay';
  src: url('../fonts/YANDEXSANSDISPLAY-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansDisplay';
  src: url('../fonts/YANDEXSANSDISPLAY-REGULARITALIC.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'YandexSansDisplay';
  src: url('../fonts/YANDEXSANSDISPLAY-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
