:root {
  /* -----start Colors----- */
  --color-primary: color-mix(in srgb, #1B1EC8 25%, transparent);

  --color-text: #F2E7E7;
  --color-text-semivisible: color-mix(in srgb, var(--color-text) 20%, transparent);
  --color-text-secondary: color-mix(in srgb, var(--color-text) 60%, transparent);

  --color-bg: black;
  --color-bg-el: color-mix(in srgb, var(--color-text) 3%, transparent);
  --color-bg-el-border: color-mix(in srgb, var(--color-text) 10%, transparent);
  --color-bg-semivisible: color-mix(in srgb, var(--color-bg) 25%, transparent);

  --color-positive: #31d154;
  --color-negative: #C31D1D;
  /* -----end Colors----- */

  /* -----start Font Sizes----- */
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;
  --font-size-h5: 15px;
  --font-size-h6: 12px;

  --font-size-default: 14px;

  --letter-spacing-title: 4px;
  --letter-spacing-button: 2px;
  /* -----end Font Sizes----- */

  /* -----start Sizes----- */
  --width-content: min(100% - var(--padding-main) * 2, 1536px);
  // --width-content: min(100% - var(--padding-main) * 2, 1200px);
  // --width-content: min(100% - var(--padding-main) * 2, 1024px);

  --border-radius-el: 1.5em;
  --border-radius-button: 0.25em;
  --border-radius-input: 0.15em;
  --border-radius-input-rounded: 0.75em;

  --padding-main: 1.5rem;

  --header-height: 76px;
  /* -----end Sizes----- */

  /* -----start Effects----- */
  --blur-effect-default: blur(15px);
  /* -----end Effects----- */

  /* -----start Transitions----- */
  --transition-default: 300ms;
  --transition-button: 300ms;
  --transition-long: 400ms;
  /* -----end Transitions----- */
}
